ACTION=="add", SUBSYSTEM=="block", ATTRS{removable}=="0", KERNEL=="sd[a-z][0-9]|nvme[0-9]n[0-9]p[0-9]", ENV{DEVTYPE}=="partition", RUN+="media-automount-udev %p"